.loading-spinner-box {
    width: 35%;
    height: 35%;

    min-height: 300px;
    min-width: 150px;

    padding-top: 20px;

    margin: auto;
    display: block;
    vertical-align: middle;
    text-align: center;
}
