.loader-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
}

/*--------------------------------------------------------------
                            BUSH
-------------------------------------------------------------*/
.bush {
    position: relative;
    top: 130px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 190px;
    background-color: #92B762;
    border-radius: 40px;
}

.bush-part {
    position: absolute;
    background-color: inherit;
    border-radius: 50%;
}

.bush-part:nth-child(1) {
    height: 90px;
    width: 90px;
    top: -60px;
    left: 50px;
}

.bush-part:nth-child(2) {
    height: 70px;
    width: 70px;
    top: -30px;
    left: 10px;
}

.bush-part:nth-child(3) {
    height: 70px;
    width: 70px;
    top: -30px;
    left: 110px;
}

/*--------------------------------------------------------------
                            BEAR
-------------------------------------------------------------*/
.bear {
    position: relative;
    top: 190px; /* 210*/
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 80px;
    background-color: #967848;
    border-radius: 50% 50% 50% 50%  / 60% 60% 40% 40%;
    animation: bearPeek 5s linear infinite;
}

.bear-part {
    background-color: inherit;
    position: absolute;
}

.bear-part:nth-child(1) {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: -5px;
    top: -5px;
}

.bear-part:nth-child(2) {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: 55px;
    top: -5px;
}

.bear-part:nth-child(3) {
    background-color: #222222;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 20px;
    top: 30px;
}

.bear-part:nth-child(4) {
    background-color: #222222;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 50px;
    top: 30px;
}

.bear-part:nth-child(5) {
    background-color: #C6A16B;
    height: 20px;
    width: 20px;
    border-radius: 50% 50% 50% 50%  / 60% 60% 40% 40%;
    left: 30px;
    top: 35px;
}

.bear-part:nth-child(6) {
    background-color: #222222;
    height: 8px;
    width: 10px;
    border-radius: 50% 50% 50% 50%  / 60% 60% 40% 40%;
    left: 35px;
    top: 37px;
}

.bear-part:nth-child(7) {
    background-color: #222222;
    height: 7px;
    width: 2px;
    border-radius: 50% 50% 50% 50%  / 60% 60% 40% 40%;
    left: 39px;
    top: 41px;
}

.bear-part:nth-child(8) {
    background-color: transparent;
    height: 6px;
    width: 6px;
    left: 35.5px;
    top: 45px;
    border-width: 2px;
    border-color: #222222;
    border-top: solid;
    border-left: solid;
    border-radius: 1px;
    transform: rotate(45deg);
}

/*------------------------------------------------------------
                        LOADING DOTS
------------------------------------------------------------*/
.loader-dots-container {
    position: relative;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 20px;

}

.loading-dot {
    display: inline-block;
    position: relative;

    -webkit-animation: dotloader 2.5s infinite;
    -moz-animation: dotloader 2.5s infinite;
    -ms-animation: dotloader 2.5s infinite;
    -o-animation: dotloader 2.5s infinite;
    animation: dotloader 2.5s infinite;
}

.loading-dot + .loading-dot {
    margin-left: -25px;
    /* staggered effect cause by delay property */
    -webkit-animation: dotloader 2.5s 0.2s infinite;
    -moz-animation: dotloader 2.5s 0.2s infinite;
    -ms-animation: dotloader 2.5s 0.2s infinite;
    -o-animation: dotloader 2.5s 0.2s infinite;
    animation: dotloader 2.5s 0.2s infinite;
}

.loading-dot + .loading-dot + .loading-dot {
    margin-left: -25px;
    -webkit-animation: dotloader 2.5s 0.4s infinite;
    -moz-animation: dotloader 2.5s 0.4s infinite;
    -ms-animation: dotloader 2.5s 0.4s infinite;
    -o-animation: dotloader 2.5s 0.4s infinite;
    animation: dotloader 2.5s 0.4s infinite;
}


/*------------------------------------------------------------
                          ANIMATION
------------------------------------------------------------*/
@keyframes bearPeek {
    0% {
        top: 190px;
    }
    10% {
        top: 130px;
    }
    30% {
        top: 130px;
    }
    40% {
        top: 190px;
    }
}

@keyframes dotloader {
    0%,
    20% {
        width: 4px;
        height: 4px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 0%;
        background-color: rgba(0, 0, 0, 0);
    }
    30%,
    70% {
        width: 8px;
        height: 8px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        left: 70%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    80%,
    100% {
        width: 4px;
        height: 4px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
}

@-moz-keyframes dotloader {
    0%,
    20% {
        width: 4px;
        height: 4px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 0%;
        background-color: rgba(0, 0, 0, 0);
    }
    30%,
    70% {
        width: 8px;
        height: 8px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    80%,
    100% {
        width: 4px;
        height: 4px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        left: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes dotloader {
    0%,
    20% {
        width: 4px;
        height: 4px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        left: 0%;
        background-color: rgba(0, 0, 0, 0);
    }
    30%,
    70% {
        width: 8px;
        height: 8px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    80%,
    100% {
        width: 4px;
        height: 4px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        left: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
}

@-ms-keyframes dotloader {
    0%,
    20% {
        width: 4px;
        height: 4px;
        border-radius: 2px;
        left: 0%;
        background-color: rgba(0, 0, 0, 0);
    }
    30%,
    70% {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    80%,
    100% {
        width: 4px;
        height: 4px;
        border-radius: 2px;
        left: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
}

@-o-keyframes dotloader {
    0%,
    20% {
        width: 4px;
        height: 4px;
        border-radius: 2px;
        left: 0%;
        background-color: rgba(0, 0, 0, 0);
    }
    30%,
    70% {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    80%,
    100% {
        width: 4px;
        height: 4px;
        border-radius: 2px;
        left: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
}

