<div class="loader-container">
    <div class="bear">
        <div class="bear-part"></div>
        <div class="bear-part"></div>
        <div class="bear-part"></div>
        <div class="bear-part"></div>
        <div class="bear-part"></div>
        <div class="bear-part"></div>
        <div class="bear-part"></div>
        <div class="bear-part"></div>
    </div>
    <div class="bush">
        <div class="bush-part"></div>
        <div class="bush-part"></div>
        <div class="bush-part"></div>
    </div>
    <div class="loader-dots-container">
        <div class="loading-dot"></div>
        <div class="loading-dot"></div>
        <div class="loading-dot"></div>
    </div>
</div>
