<div class="container mt-2 mt-md-5 p-0 p-md-3">

    <div class="card mr-auto ml-auto col-lg-10" style="background-color: #f8f9f;">
        <h5 class="card-title border-bottom m-0 mb-3 pb-3 pt-3 row justify-content-center"
            style="font-weight: 300; font-size: 1.5rem;">
            <span class="mr-md-auto d-block d-md-inline-block mb-2 mb-md-0">
                Balance: <strong>{{walletBalance}}</strong> gDAI <img height="24" src="assets/logo-simply.svg">
                <button class="btn btn-sm btn-success ml-2" (click)="openDepositModal()">Deposit</button>
            </span>
            <span class="ml-md-auto d-block d-md-inline-block">
                Power: <strong>{{earnedInterest}}</strong> gDAI <img height="24" src="assets/lightsaber.svg">
            </span>
        </h5>
        <div class="card-body p-0 p-md-3">

            <app-loading-spinner *ngIf="loading"></app-loading-spinner>

            <div *ngIf="!loading">

            </div>
        </div>
    </div>
</div>

<ng-template #depositTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            Deposit
        </h4>
        <button (click)="depositTemplateModalRef.hide()" aria-label="Close" class="close pull-right" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div *ngIf="modalLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>

        <div *ngIf="!modalLoading">
            <form #f="ngForm" class="pt-4" novalidate>
                <div class="form-row justify-content-md-center">
                    <div class="form-group col-md-12">
                        <small (click)="setFromTokenAmount()"
                               class="form-text text-muted text-left position-relative mb-1"
                               id="fromTokenBalance"
                               style="margin-top: -23px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis; cursor: pointer;">
                            Max: {{tokenService.toFixed(fromTokenBalance, 12)}}
                        </small>
                        <input [formControl]="fromTokenAmountControl"
                               aria-describedby="fromTokenBalance" autocomplete="off"
                               class="form-control text-left" id="fromTokenAmount" inputmode="numeric"
                               name="fromTokenAmount" numeric numericType="decimal" pattern="[0-9]*" placeholder="0"
                               type="string">

                        <div class="mt-3 text-center">
                            <button (click)="deposit()" class="btn btn-success">
                                Deposit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>
